
# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*/
!*.png
!*.jpg
!*.svg
!*.js

# Whitelist a few directories
!/custom_components/**

# Ignore folders.
.storage
.cloud
.google.token
__pycache__/

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
service.json
ip_bans.yaml
secrets.yaml
known_devices.yaml
zwave_device_config.yaml
govee_learning.yaml
